
@model PatientManagement.Models.ViewModel.PatientViewModel

@{
    ViewBag.Title = "Create";
}



<h2>Create</h2>


@using (Html.BeginForm("Create", "Patient", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PatientViewModel</h4>
        <hr />


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.PatImage, htmlAttributes: new { @class = "control-label col-md-2" })

            @*<div class="col-md-10">

                    @Html.TextBoxFor(model => model.PatImage, new { @Type = "file", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PatImage, "", new { @class = "text-danger" })
                </div>*@
            <div class="col-md-10">

                <div class="col-md-4">
                    <input type="file" name="PatImage" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" />
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary" type="button" onclick="showDiv();" id="openCam">Take Live Photo</button>
                    <button class="btn btn-warning" type="button" onclick="stop();" id="stopCam">Stop Camera</button>

                </div>
            </div>
        </div>

        <!--<div id="myDIV">
            <div class="col-md-8">
                <div style="margin: 0 auto;  text-align: center">
                    <div style="float: left; border: 4px solid #ccc; padding: 5px">

                        <video autoplay="true" id="Camera" style="width:320px; height:240px;"></video>


                        <br>
                        <input type="button" value="Capture" class="btn btn-primary" id="btnCapture" />
                    </div>
                    <div style="float: left; margin-left: 20px; border: 4px solid #ccc; padding: 5px">
                        <canvas id="canvas" width="640" height="480"></canvas>-->

                        @*  <img id="canvas" style="width: 320px; height: 225px;" src="../../WebImages/person.jpg" />*@
                        <!--<br>
                        <br>
                        <input type="button" id="btnSave" name="btnSave" value="Save the canvas(image) to server" />
                    </div>
                </div>
            </div>



        </div>-->

        <div class="form-group">
            @Html.LabelFor(model => model.PatName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PatName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.PatContact, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatContact, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PatContact, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2 " })
          
               <div class="col-md-10">
                   <div class="checkbox">
                       @Html.EditorFor(model => model.IsActive)
                       @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                   </div>
               </div>
            
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function showDiv() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "block") {
                x.style.display = "none";

            } else {
                x.style.display = "block";
                OpenWebCamera();

            }
        }

        function OpenWebCamera() {
            var video = document.querySelector("#Camera");

            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        video.srcObject = stream;
                    })
                    .catch(function (err0r) {
                        console.log(err0r);
                        console.log("Something went wrong!");
                    });
            }
        }
       
     
        
    </script>

    <script type="text/javascript">
       


       
        // Upload image to server - ajax call - with the help of base64 data as a parameter
        $("#btnSave").click(function () {

            // Below new canvas to generate flip/mirron image from existing canvas
            var destinationCanvas = document.createElement("canvas");
            var destCtx = destinationCanvas.getContext('2d');


            destinationCanvas.height = 500;
            destinationCanvas.width = 500;


            destCtx.scale(-1, 1);
            destCtx.drawImage(document.getElementById("canvas"), 0, 0);

            // Get base64 data to send to server for upload
            var imagebase64data = destinationCanvas.toDataURL("image/png");
            imagebase64data = imagebase64data.replace('data:image/png;base64,', '');
            $.ajax({
                type: 'POST',
                url: '/Patient/UploadWebCamImage',
                data: '{ "imageData" : "' + imagebase64data + '" }',
                contentType: 'application/json; charset=utf-8',
                dataType: 'text',
                success: function (out) {
                    alert('Image uploaded successfully..');
                }
            });
        });

    </script>
}
